<div class="container-fluid" style="background-image: url('/img/limbo.jpg'); background-size: cover; background-position: center; height: 100vh; position: relative; text-align: center;">
    <div style="position: absolute; top: 0; left: 50%; transform: translateX(-50%); margin-top: 20px;">
        <h4 style="font-weight: bold; font-size: 36px;">Bem vindo ao Limbo!</h4>
        <span style="font-weight: bold; font-size: 24px;">Se você parou aqui é porque fez algo inesperado ou não autorizado!</span>
    </div>    
</div>


